<main>
  <h1>
    Password Generator
  </h1>

  <div>
    <label for="">Enter Length</label>
    <input (input)="onChangeLength($event.target.value)" />
  </div>

  <ul>
    <li>
      <label>Use Letters</label>
      <input (change)="onCheckboxChange('letters')" type="checkbox" value="lettersIncludes" />
    </li>
    <li>
      <label>Use Numbers</label>
      <input (change)="onCheckboxChange('numbers')" type="checkbox" value="numbersIncludes" />
    </li>
    <li>
      <label>Use Symbols</label>
      <input (change)="onCheckboxChange('symbols')" type="checkbox" value="symbolsIncludes" />
    </li>
  </ul>

  <button 
    (click)="onButtonClick()"
    [disabled]="!(passwordLength && (isLettersIncludes || isNumbersIncludes || isSymbolsIncludes))"
  >
    Generate!
  </button>

  <div>
    <label>Your Password:</label>
    <input [value]="getPassword()"/>
  </div>
</main>